<div class="container mt-4">

  <h3>Register Movement</h3>

  <form [formGroup]="form" (ngSubmit)="submit()" class="card p-3">

    <!-- PRODUCT ID -->
    <div class="mb-3">
      <label>Product ID</label>
      <input type="number" class="form-control" formControlName="idProduct">
    </div>

    <!-- TYPE -->
    <div class="mb-3">
      <label>Type</label>
      <select class="form-control" formControlName="type">
        <option value="IN">IN</option>
        <option value="OUT">OUT</option>
      </select>
    </div>

    <!-- QUANTITY -->
    <div class="mb-3">
      <label>Quantity</label>
      <input type="number" class="form-control" formControlName="quantity">
    </div>

    <!-- REASON -->
    <div class="mb-3">
      <label>Reason</label>
      <input type="text" class="form-control" formControlName="reason">
    </div>

    <!-- BUTTON -->
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || loading()">

      <span *ngIf="loading()">Processing...</span>
      <span *ngIf="!loading()">Submit Movement</span>

    </button>

  </form>
</div>
